doctype html 
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous"
    link rel="stylesheet" type="text/css" href="style.css"
  body
    .container-fluid.min-vh-100.d-flex
      .row.flex-fill
        .col-lg-4.text-center.my-auto
          form
            img.img-fluid src="logo.png"
            h1.h3.mb-3.font-weight-normal
              | Entrar
            .mb-3
              span.mb-3
                | Ente com suas informações ou cadastre-se.
            .mb-3
              input#inputEmail.form-control type="email" placeholder="Seu email" required autofocus
            .mb-3
              input#inputPassword.form-control type="password" placeholder="Senha" required
            .checkbox.mb-3
              label
                input type="checkbox" value="remember-me"
                |  Lembrar de mim 
            button.btn.btn-lg.btn-info.btn-block.text-white type="submit"
              | Login
        .col-lg-8.bg-cover.bg-image.d-none.d-lg-block
    script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
    script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"